<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages enableEventValidation="False" />
  </system.web>
<connectionStrings>
  <add name="perfectstudio" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\poshi\Downloads\Perfect Studio\Perfect Studio\App_Data\Perfect Studiomdf.mdf;Integrated Security=True"

    providerName="System.Data.SqlClient" />
  <add name="perfectstudio"  connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\poshi\Downloads\Perfect Studio\Perfect Studio\App_Data\Perfect Studiomdf.mdf;Integrated Security=True"
    providerName="System.Data.SqlClient" />
  <add name="perfectstudio" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\poshi\Downloads\Perfect Studio\Perfect Studio\App_Data\Perfect Studiomdf.mdf;Integrated Security=True"
    providerName="System.Data.SqlClient" />
</connectionStrings>
<appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"></add>
  </appSettings>
</configuration>